<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097983281822-udp0safplu38m17q7a60ujuav962qh9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097983281822-udp0safplu38m17q7a60ujuav962qh9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1097983281822-71ig8t96cuoaqpott7mseuqp0ltm651t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMf7xMUS0GYgsywNGZzLf6ft8ekMWueno</string>
	<key>GCM_SENDER_ID</key>
	<string>1097983281822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imdown.imdown</string>
	<key>PROJECT_ID</key>
	<string>imdown</string>
	<key>STORAGE_BUCKET</key>
	<string>imdown.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097983281822:ios:052ae059dd10bb06fd498f</string>
	<key>DATABASE_URL</key>
	<string>https://imdown-84c1d.firebaseio.com</string>
</dict>
</plist>